fastapi
uvicorn[standard]
anthropic
mcp
toml
pyinstaller
openai
ollama
aiohttp
gunicorn
aiosqlite
requests
Pillow
nanoid
python-multipart
aiofiles
websocket-client # needed for comfyui execution
rich # needed for comfyui execution
typer # needed for comfyui execution
certifi
